NODE_ENV=
MONGO_DB_URL=
MONGO_DB_USER=
MONGO_DB_PASS=
MAIL_AUTH_USER=
MAIL_AUTH_PASS=
MAIL_HOST=
MAIL_PORT=
MAIL_FROM=
MAIL_TO=
APP_PORT=
API_USERNAME=
API_HASH_PASS=
JWT_SECRET=
API_CORE_URL=
API_CORE_MAPS_SALT=
SENTRY_DSN=